In [48]:
# Listas
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(f"La {planets[2]} es el tercer planeta.")
planets[5] = 'planeta de los anillos'
print(f"Saturno es conocido tambien como: {planets[5]}")
print(planets)
print(f"El sistema solar tiene {len(planets)} planetas. ")

La Earth es el tercer planeta.
Saturno es conocido tambien como: planeta de los anillos
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'planeta de los anillos', 'Uranus', 'Neptune']
El sistema solar tiene 8 planetas.

In [20]:
# Agregar valores a listas .append
planets.append('Pluton')
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'planeta de los anillos', 'Uranus', 'Neptune', 'Pluton']

In [24]:
# Eliminar valores de una lista
planets.pop(-2)
print(planets)

['Mercury', 'Mars', 'Jupiter', 'planeta de los anillos', 'Neptune']

In [26]:
# Buscar un valor en una lista
pposicion = planets.index('Earth')
print(f'La {planets[pposicion]} es el {pposicion+1} planeta.')

La Earth es el 3 planeta.

In [30]:
# Almacenar n√∫meros en listas
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]
bus_peso = 12000
pposicion = planets.index('Mercury')
print(f'Ese bus en {planets[pposicion]} pesa {bus_peso*gravity_on_planets[pposicion]} kilogramos.')

Ese bus en Mercury pesa 4536.0 kilogramos.

In [50]:
# min() y max () con listas
planeta_min = gravity_on_planets.index(min(gravity_on_planets))
planeta_max = gravity_on_planets.index(max(gravity_on_planets))
print(f'El planeta con menos gravedad es {planets[planeta_min]}, la cual es {gravity_on_planets[planeta_min]}.')
print(f'El planeta con mayor gravedad es {planets[planeta_max]}, la cual es {gravity_on_planets[planeta_max]}.')

El planeta con menos gravedad es Mercury, la cual es 0.378.
El planeta con mayor gravedad es Jupiter, la cual es 2.36.

In [7]:
# Manipular datos de lista
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
seleccion_planetas = planets[0:4]
print(seleccion_planetas)

['Mercury', 'Venus', 'Earth', 'Mars']

In [4]:
# Uniendo listas
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']
suma_grupos = amalthea_group + galilean_moons
print(suma_grupos)
print(suma_grupos[0:4])
print(suma_grupos[4:8])

['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']
['Metis', 'Adrastea', 'Amalthea', 'Thebe']
['Io', 'Europa', 'Ganymede', 'Callisto']

In [6]:
# Ordenar listas
suma_grupos.sort()
print("El nombre de las lunas del planeta jupiter son: " , suma_grupos)
suma_grupos.sort(reverse=True)
print("El nombre de las lunas del planeta jupiter son: " , suma_grupos)

El nombre de las lunas del planeta jupiter son:  ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
El nombre de las lunas del planeta jupiter son:  ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']